@use '../../index.scss';

.movies {
    min-height: 60vh;
    display: flex;
    flex-direction: column;

    align-items: center;
	
    h1 {
		font-size: 2rem;
        color: index.$secondary-color;
    }
	
    .one-movie {
		// opacity:1;
        width: 600px;
        padding: 10px;
        margin: 15px;

        box-shadow: 0 0 15px index.$primary-color;
        background: linear-gradient(45deg, index.$background-color, rgb(44, 43, 43));

        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        text-wrap: nowrap;

        justify-content: space-between;
        align-items: center;
        overflow: hidden;

        h3 {
            margin: 0;
        }

        a {
            margin-right: 35px;
            color: index.$secondary-color;
            text-decoration: none;
            cursor: pointer;
        }

        button {
            background-color: index.$primary-color;
            box-shadow: 0 0 15px index.$primary-color;
            border: none;
            color: index.$text-color;
            cursor: pointer;
        }
    }
}
